<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasStudentList" aria-labelledby="offcanvasStudentListLabel">
    <div class="offcanvas-header">
        <h5 id="offcanvasStudentListLabel">Adicionar Estudante</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div id="studentListError" class="alert alert-danger d-none" role="alert">
            Erro ao carregar a lista de estudantes. Por favor, tente novamente mais tarde.
        </div>

        <div id="sidebarSuccessAlert" class="alert alert-success d-none" role="alert">
            <span id="sidebarSuccessAlertMessage"></span>
        </div>

        <div id="studentList">
            <!-- Lista de Estudantes será carregada via JavaScript -->
        </div>
    </div>
</div>
