@{
    ViewData["Title"] = "Erro";
}

<div class="container mt-5 text-center">
    <h1 class="display-4">Ocorreu um erro inesperado.</h1>
    <p class="lead">Lamentamos pelo inconveniente. Por favor, tente novamente mais tarde.</p>
    <a href="/" class="btn btn-primary">Voltar para a Página Inicial</a>
</div>
