@{
    ViewData["Title"] = "Erro no Servidor";
}

<div class="container mt-5 text-center">
    <h1 class="display-4">Erro Interno do Servidor</h1>
    <p class="lead">Desculpe, houve um problema com o servidor. Estamos trabalhando para resolver isso.</p>
    <a href="/" class="btn btn-primary">Voltar para a Página Inicial</a>
</div>
